{
  "extends": [
    "oclif",
    "oclif-typescript",
    "prettier",
    "plugin:import/errors",
    "plugin:import/typescript"
  ],
  "rules": {
    "import/no-cycle": 1,
    "no-warning-comments": 0,
    "unicorn/filename-case": 0,
    "unicorn/no-process-exit": 0,
    "no-process-exit": 0,
    "unicorn/no-hex-escape": 0,
    "new-cap": 0,
    "valid-jsdoc": 0,
    "unicorn/no-abusive-eslint-disable": 0,
    "no-dupe-else-if": 0,
    "no-import-assign": 0,
    "no-setter-return": 0,
    "complexity": 0,
    "node/no-unpublished-require": 0,
    "import/no-unresolved": 0
  }
}
